.about .container {
    margin: auto;
    padding: 0 1rem;
    max-width: 90rem;
    width: 100%;
}

.about .container .grid {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    align-items: center;
}

@media (min-width: 992px) {
    .column-md-1 {
        flex-basis: 8.3333333333%;
        max-width: 8.3333333333%;
    }
    .column-md-4 {
        flex-basis: 33.3333333333%;
        max-width: 33.3333333333%;
    }
    .column-md-5 {
        flex-basis: 41.6666666667%;
        max-width: 41.6666666667%;
    }
    .column-md-7 {
        flex-basis: 58.3333333333%;
        max-width: 58.3333333333%;
    }
}

.about blockquote {
    font-style: italic;
    text-align: center;
    width: 90%;
    height: fit-content;
    margin: auto;
    display: block;
    align-items: center;
}

.intro {
    margin: 1rem 0;
    padding: 0;
    width: 100%;
}

.about {
    padding: .5rem 0;
}

.grid>[class*=column-] {
    padding: .5rem;
}

.section-heading {
    transform: rotate(0) translateX(0);
}

.about img {
    height: 100%;
    object-fit: cover;
}

@media (min-width: 992px) {
    .section-heading {
        position: absolute;
        transform-origin: bottom;
        transform: rotate(-90deg) translateX(-35%) translateY(-115%);
    }
    .intro {
        padding: 1rem;
    }
    .about blockquote {
        width: 30rem;
    }
    .about img {
        height: 700px;
        width: 750px;
    }
}