/* =========== Carousel Section ================= */

.owl-carousel .owl-stage {
    position: relative;
    color: #1a1a1a;
    display: flex;
}

.owl-carousel .owl-item {
    position: relative;
    height: 240px;
    min-width: 240px;
    border: 1px solid grey;
    margin: 1rem .5rem;
}

.owl-carousel .owl-item img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.owl-carousel .owl-item button {
    position: absolute;
    width: 100%;
    z-index: 99;
    bottom: 0;
    font-size: 1rem;
    background-color: #ebebeb;
}

.owl-carousel .owl-item button:hover {
    color: var(--fg-red);
    background-color: #dfdfdf;
}

@media (max-width: 768px) {
    .owl-carousel .owl-item {
        height: 180px;
    }
}