.end {
    margin-right: 0 !important;
}


/* Column Grids End */

.wrapper {
    width: 100%;
    margin: 30px 0px;
    position: relative;
}

.counter {
    background-color: #ffffff;
    padding: 20px 0;
    border-radius: 5px;
    position: relative;
    display: inline;
    display: inline-block;
    float: left;
    margin-right: 2%;
    margin-bottom: 20px;
}

.count-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.count-text {
    font-size: 1.25rem;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.counter i {
    margin: 0 auto;
    float: none;
    display: table;
    color: var(--fg-red);
    font-size: 3rem;
}


/* =========== Carousel Section ================= */

.owl-carousel .owl-stage {
    position: relative;
    color: #1a1a1a;
    display: flex;
}

.owl-carousel .owl-item {
    position: relative;
    height: 240px;
    min-width: 240px;
    border: 1px solid grey;
    margin: 1rem .5rem;
}

.owl-carousel .owl-item img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.owl-carousel .owl-item button {
    position: absolute;
    width: 100%;
    z-index: 99;
    bottom: 0;
    font-size: 1rem;
    background-color: #ebebeb;
}

.owl-carousel .owl-item button:hover {
    color: var(--fg-red);
    background-color: #dfdfdf;
}

@media (max-width: 768px) {
    .owl-carousel .owl-item {
        height: 180px;
    }
}