/* =========== Carousel Section ================= */

.owl-carousel .owl-stage {
    position: relative;
    color: #1a1a1a;
    display: flex;
}

.owl-carousel .owl-item {
    position: relative;
    height: 240px;
    min-width: 240px;
    border: 1px solid grey;
    margin: 1rem .5rem;
}

.owl-carousel .owl-item img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.owl-carousel .owl-item button {
    position: absolute;
    width: 100%;
    z-index: 99;
    bottom: 0;
    font-size: 1rem;
    background-color: #ebebeb;
}

.owl-carousel .owl-item button:hover {
    color: var(--fg-red);
    background-color: #dfdfdf;
}

@media (max-width: 768px) {
    .owl-carousel .owl-item {
        height: 180px;
    }
}


/* =========== Who Are We Section ================= */

.team-members {
    transform: rotate(-45deg);
    list-style: none;
}

.team-members li>div {
    float: left;
    width: 20%;
}

.team-members li:nth-child(2)>div:first-child {
    margin-left: 20%;
}

.team-members li:last-child>div:first-child {
    margin-left: 40%;
}

.member-details>div {
    background-color: var(--fg-lgrey);
    border-style: double;
    border-width: .45rem;
    border-color: var(--fg-black);
    margin: .25rem;
}

.member-details img {
    transform: rotate(45deg) translate(0, 0.8rem) scale(1.2);
    display: block;
    width: 100%;
    height: 100%;
}

.member-details>div {
    position: relative;
    overflow: hidden;
}

.member-details>div:after {
    content: "";
    background-image: linear-gradient( 45deg, rgba(228, 82, 69, 0.8) 50%, transparent 50%);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
}

@media only screen and (max-width: 30rem) {
    .team-members li {
        text-align: center;
    }
    .team-members li>div {
        float: none;
        display: inline-block;
        width: 30%;
        margin: 0 !important;
    }
    .team-members {
        transform: rotate(0);
    }
    .member-details img {
        transform: rotate(0) translate(0, 0);
    }
}

@media only screen and (max-width: 399px) {
    .team-members li>div {
        width: 48%;
    }
}