/* =========== Features Banner ================= */

#features {
    background: linear-gradient(rgba(204, 208, 212, 0.7), rgba(41, 72, 90, 0.5));
    padding: 1rem 0;
}

.features-inner {
    padding: 3rem;
    margin: 0;
    width: 100%;
    align-items: center;
}

.features-inner img {
    margin: auto;
    padding-right: 2rem;
    padding-left: 2rem;
    max-width: 250px;
}

@media (min-width: 600px) {
    .features-inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 0;
    }
}

@media (min-width: 800px) {
    .features-inner {
        grid-template-columns: 1fr 2fr;
    }
}

@media (min-width: 900px) {
    .features-inner {
        grid-template-columns: repeat(3, 1fr);
        max-width: 1450px;
        margin: 0 auto;
    }
}

.features-image {
    text-align: center;
    margin-bottom: 2rem;
}

@media (min-width: 600px) {
    .features-image {
        grid-row: 1/span 2;
    }
}

@media (min-width: 900px) {
    .features-image {
        grid-column: 2;
    }
}

.features-image img {
    filter: drop-shadow(1px 1px 20px rgba(0, 0, 0, 0.4));
}

.features-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.features-item {
    transition: opacity 200ms ease;
}

@media (min-width: 900px) {
    .list-1 {
        text-align: right;
    }
}

@media (min-width: 600px) {
    .list-2 {
        grid-column: 2;
    }
    .list-2 .features-item-header:first-child {
        margin-top: 0;
    }
}

@media (min-width: 900px) {
    .list-2 {
        grid-column: 3;
    }
    .list-2 .features-item-header:first-child {
        margin-top: 1.45rem;
    }
}


/* =========== Reasons section ================= */

.feature img {
    width: 100%;
    height: 100%;
    display: block;
}

.feature {
    color: rgb(0, 0, 0);
    height: 37rem;
    align-items: stretch;
    align-content: stretch;
    padding: 0;
    margin: 0;
    position: relative;
}

.feature ul {
    text-align: right;
    margin-top: 1rem;
    max-width: 65%;
    position: absolute;
    right: 21px;
    direction: rtl;
}

@media (min-width: 950px) {
    .feature {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
}

@media (min-width: 950px) {
    .image img {
        -webkit-clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
    }
}

.feature .section-title {
    text-align: left;
    position: absolute;
    max-width: 50%;
    left: 803px;
    padding: 1.5rem;
}

@media (min-width: 950px) {
    .section-title {
        padding: 0 1rem 0 0;
        margin-left: -3vw;
    }
}

@media (min-width: 1300px) {
    .section-title {
        padding: 0 3rem 0 0;
    }
}

.section-title h2 {
    margin-top: 0;
}

@media (min-width: 950px) {
    .section-title h2 {
        font-size: 1.5rem;
    }
}

@media (min-width: 1250px) {
    .section-title h2 {
        font-size: 2.5rem;
    }
}

@media (min-width: 2000px) {
    .section-title h2 {
        font-size: 2.5vw;
    }
}

.section-title p {
    line-height: 1.25;
}

@media (min-width: 1500px) {
    .section-title p {
        line-height: 1.5;
        font-size: 1.2rem;
    }
}

@media (min-width: 2000px) {
    .section-title p {
        font-size: 1.2vw;
    }
}

.button button {
    background-color: #289469;
    border: 0;
    padding: 1rem 2rem;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 3px;
    margin: 1rem 0 0;
    transition: background-color 200ms ease;
}

.button button:hover {
    cursor: pointer;
    background-color: rgba(40, 148, 105, 0.8);
}

@media (min-width: 2000px) {
    .button button {
        font-size: 1.2vw;
    }
}


/* =========== Image section ================= */

#imageContainer {
    position: relative;
    height: 42rem;
}

#imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* =========== Join section ================= */

#joinTeam,
#ourTeam {
    position: absolute;
    z-index: 5;
    width: 30rem;
    margin-top: -39rem;
    margin-left: 3rem;
    padding: 2rem;
    background: rgb(255, 255, 255);
}

#joinTeam .section-title {
    padding: 0rem 0 1.75rem 0;
}

#ourTeam {
    margin-top: -16rem;
}

@media (min-width: 1080px) {
    #joinTeam,
    #ourTeam {
        background: rgb(255, 255, 255, 0.85)
    }
    #joinTeam {
        width: 32rem;
        margin-top: -39rem;
        margin-left: 3rem;
    }
    #ourTeam {
        width: 25rem;
        margin-top: -15rem;
        margin-left: calc(100% - 28rem);
    }
}