:root {
    --red: #aa0000;
    --blue: #2561c1;
    --grey: #363636;
}

#threeD-carousel body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: grid;
    place-items: center;
    overflow: hidden;
    font-family: sans-serif;
    color: white;
    transition: background-color 500ms ease;
}

#threeD-carousel .container {
    position: relative;
    width: min(400px, 100%);
    padding-top: 144px;
    padding-bottom: 294px;
}


/* holidays */

#threeD-carousel ul {
    min-width: 19rem;
    list-style: none;
    width: 90%;
    height: 90%;
    position: relative;
    perspective: 2000px;
    transform-style: preserve-3d;
}

#threeD-carousel ul>li {
    position: absolute;
    left: 50%;
    top: calc(50% - 1.2rem);
    --rotateX: calc( 1deg * var(--rotateDegrees) * calc(var(--day_idx) - var(--currentDay)));
    transform: rotateX(var(--rotateX)) translateZ(192px) translateX(-50%) scale(var(--scale, 1));
    --hue: calc(var(--rotateDegrees) * var(--day_idx));
    background-color: var(--red);
    width: 90%;
    color: white;
    display: grid;
    grid-template-columns: 2.5rem auto;
    height: 10rem;
    transition: transform 500ms ease, background-color 500ms ease;
}

#threeD-carousel ul>li:nth-child(2n) {
    background-color: var(--grey);
}

#threeD-carousel ul>li.active {
    --lightness: 30%;
    --scale: 1.1;
}

#threeD-carousel ul>li>* {
    display: grid;
    align-items: center;
    margin: 15px;
}

#threeD-carousel li>time {
    text-align: center;
}

#threeD-carousel li>span {
    padding-inline-start: 0.5rem;
    color: white;
}


/* controls */

#threeD-carousel .controls {
    position: absolute;
    top: 50%;
    left: -10%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
}

#threeD-carousel .controls button {
    width: 2rem;
    aspect-ratio: 1;
    font-size: 0.9rem;
    color: white;
    border: none;
    background: #39657e;
    display: grid;
    place-items: center;
}

#threeD-carousel .controls button:hover,
#threeD-carousel .controls button:focus {
    background: rgb(6, 60, 131);
}

#threeD-carousel .controls button:active {
    transform: scale(0.9);
}

#threeD-carousel .border {
    width: 96%;
    height: 3em;
    border: 1px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* =========== Image section ================= */

#imageContainer {
    position: relative;
    height: 42rem;
}

#imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* =========== Join section ================= */

#joinTeam,
#ourTeam {
    position: absolute;
    z-index: 5;
    width: 30rem;
    margin-top: -39rem;
    margin-left: 3rem;
    padding: 2rem;
    background: rgb(255, 255, 255);
}

#ourTeam {
    margin-top: -16rem;
}

@media (min-width: 1080px) {
    #joinTeam,
    #ourTeam {
        background: rgb(255, 255, 255, 0.85)
    }
    #joinTeam {
        width: 32rem;
        margin-top: -39rem;
        margin-left: 3rem;
    }
    #ourTeam {
        width: 25rem;
        margin-top: -14rem;
        margin-left: calc(100% - 28rem);
    }
}