:root {
    --gap: -240px;
    --circle-size: 200px;
    --circle-size-small: 130px;
    --color-1: #828f95;
    --color-2: #9da6a5;
    --color-3: #77ada7;
    --color-4: #5aafb2;
    --color-5: #39b3bb;
    --color-6: #07bec2;
}

.graphic-container {
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    margin: 100px 0;
}

.center-circles-container {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
    height: 100%;
    width: 100%;
}

.single {
    gap: 20px;
}

.double {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.double:nth-child(even) {
    flex-direction: column-reverse;
}

.circle {
    width: var(--circle-size);
    height: var(--circle-size);
    background: #fff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    position: relative;
}

.icon i {
    font-size: 3rem;
}

.content-container {
    position: absolute;
    max-width: 200px;
    min-width: 200px;
    width: 100%;
}

.content p {
    font-size: 12px;
}

.content-container h2 {
    position: relative;
    padding: 0 10px;
}


/* arrow heading border */

.one .content-container h2::before,
.one .content-container h2::after,
.two .content-container h2::before,
.two .content-container h2::after,
.five .content-container h2::before,
.five .content-container h2::after {
    position: absolute;
    content: '';
    width: 2px;
    height: 22px;
    background: teal;
    left: -6px;
}

.one .content-container h2::before,
.two .content-container h2::before,
.five .content-container h2::before {
    top: -2px;
    transform: rotate(30deg);
}

.one .content-container h2::after,
.two .content-container h2::after,
.five .content-container h2::after {
    bottom: -2px;
    transform: rotate(-30deg);
}

.three .content-container h2::before,
.three .content-container h2::after,
.four .content-container h2::before,
.four .content-container h2::after,
.six .content-container h2::before,
.six .content-container h2::after {
    position: absolute;
    content: '';
    width: 2px;
    height: 22px;
    background: teal;
    right: -6px;
}

.three .content-container h2::before,
.four .content-container h2::before,
.six .content-container h2::before {
    top: -2px;
    transform: rotate(-30deg);
}

.three .content-container h2::after,
.four .content-container h2::after,
.six .content-container h2::after {
    bottom: -2px;
    transform: rotate(30deg);
}


/* different content elements */

.two,
.four {
    width: var(--circle-size-small);
    height: var(--circle-size-small);
}

.two i,
.four i {
    color: #fff;
    font-size: 2.5rem;
}

.one .content-container {
    left: 0;
    bottom: var(--gap);
    text-align: left;
}

.two .content-container {
    left: 80px;
    bottom: var(--gap);
    text-align: left;
}

.three .content-container {
    right: 220px;
    top: var(--gap);
    text-align: right;
}

.four .content-container {
    right: 20px;
    top: var(--gap);
    text-align: right;
}

.five .content-container {
    left: 210px;
    bottom: var(--gap);
    text-align: left;
}

.six .content-container {
    left: -10px;
    top: var(--gap);
    text-align: right;
}


/* lines */


/* bottom layer */

.one .line {
    position: absolute;
    width: 2px;
    height: 170px;
    background-color: var(--color-1);
    top: -150px;
    left: -30px;
}

.one .line::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 35px;
    height: 2px;
    background: var(--color-1);
}

.one .line::after,
.two .line::after,
.five .line::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 20px;
    height: 2px;
}

.one .line::after {
    background: var(--color-1);
}

.two .line::after {
    background: var(--color-2);
}

.five .line::after {
    background: var(--color-5);
}

.two .line {
    position: absolute;
    width: 2px;
    height: 90px;
    background-color: var(--color-2);
    top: -70px;
    left: -30px;
}

.five .line {
    position: absolute;
    width: 2px;
    height: 110px;
    background-color: var(--color-5);
    top: -90px;
    left: -30px;
}


/* top layer */

.three .line {
    position: absolute;
    width: 2px;
    height: 222px;
    background-color: var(--color-3);
    bottom: -100px;
    right: -30px;
}

.three .line::after,
.four .line::after,
.six .line::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 2px;
}

.three .line::after {
    background: var(--color-3);
}

.four .line::after {
    background: var(--color-4);
}

.six .line::after {
    background: var(--color-6);
}

.four .line {
    position: absolute;
    width: 2px;
    height: 222px;
    background-color: var(--color-4);
    bottom: -100px;
    right: -30px;
}

.four .line::before {
    content: '';
    position: absolute;
    right: 0px;
    bottom: 0;
    width: 20px;
    height: 2px;
    background: var(--color-4);
}

.six .line {
    position: absolute;
    width: 2px;
    height: 282px;
    background-color: var(--color-6);
    bottom: -160px;
    right: -30px;
}

.six .line::before {
    content: '';
    position: absolute;
    right: 0px;
    bottom: 0;
    width: 35px;
    height: 2px;
    background: var(--color-6);
}


/* dots */

.one .dot {
    position: absolute;
    top: 110px;
    right: -30px;
    width: 20px;
    height: 20px;
    background: var(--color-1);
    border-radius: 50%;
    box-shadow: -20px -110px 0 6px var(--color-1), -30px 80px 0 4px var(--color-1);
}

.four .dot {
    position: absolute;
    top: 130px;
    left: 0px;
    width: 20px;
    height: 20px;
    background: var(--color-4);
    border-radius: 50%;
    box-shadow: -22px -138px 0 10px var(--color-4), -70px 70px 0 0px var(--color-4);
}

.six .dot {
    position: absolute;
    top: -30px;
    left: 10px;
    width: 10px;
    height: 10px;
    background: var(--color-6);
    border-radius: 50%;
    box-shadow: -50px 50px 0 25px var(--color-6), 150px 250px 0 10px var(--color-6);
}


/* circle colors */

.one {
    box-shadow: inset 0 0 0 20px var(--color-1), inset 0px 0px 12px 20px #989898;
}

.two {
    background-color: var(--color-2);
    transform: translateX(-20px);
}

.three {
    box-shadow: inset 0 0 0 20px var(--color-3), inset 0px 0px 12px 20px #989898;
    transform: translateX(10px);
}

.four {
    background-color: var(--color-4);
    transform: translateX(-20px);
}

.five {
    box-shadow: inset 0 0 0 20px var(--color-5), inset 0px 0px 12px 20px #989898;
    transform: translateX(10px);
}

.six {
    box-shadow: inset 0 0 0 20px var(--color-6), inset 0px 0px 12px 20px #989898;
}


/* h2 border colors */

.one .content-container h2 {
    border-top: 2px solid var(--color-1);
    border-bottom: 2px solid var(--color-1);
}

.two .content-container h2 {
    border-top: 2px solid var(--color-2);
    border-bottom: 2px solid var(--color-2);
}

.three .content-container h2 {
    border-top: 2px solid var(--color-3);
    border-bottom: 2px solid var(--color-3);
}

.four .content-container h2 {
    border-top: 2px solid var(--color-4);
    border-bottom: 2px solid var(--color-4);
}

.five .content-container h2 {
    border-top: 2px solid var(--color-5);
    border-bottom: 2px solid var(--color-5);
}

.six .content-container h2 {
    border-top: 2px solid var(--color-6);
    border-bottom: 2px solid var(--color-6);
}

.one .content-container h2::before,
.one .content-container h2::after {
    background: var(--color-1);
}

.two .content-container h2::before,
.two .content-container h2::after {
    background: var(--color-2);
}

.five .content-container h2::before,
.five .content-container h2::after {
    background: var(--color-5);
}

.three .content-container h2::before,
.three .content-container h2::after {
    background: var(--color-3);
}

.four .content-container h2::before,
.four .content-container h2::after {
    background: var(--color-4);
}

.six .content-container h2::before,
.six .content-container h2::after {
    background: var(--color-6);
}


/* media */

@media (max-width: 992px) {
    .graphic-container {
        margin: 50px 0;
    }
    .center-circles-container {
        overflow: hidden;
        overflow-x: scroll;
        width: 1300px;
    }
    .double {
        flex-direction: row;
    }
    .double:nth-child(even) {
        flex-direction: row;
    }
    .two {
        transform: translateX(0px);
    }
    .three {
        transform: translateX(0px);
    }
    .four {
        transform: translateX(0px);
    }
    .five {
        transform: translateX(0px);
    }
}

.steps,
 :before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.steps {
    --i: var(--wide, 1);
    --j: calc(1 - var(--i));
    --k: calc(1 - var(--narr, 0));
    height: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2017/kreator_rockharz_july_2018.jpg) 50%/cover fixed;
}

@media (max-width: 44.25rem) {
    .steps {
        --wide: 0;
    }
}

@media (max-width: 350px) {
    .steps {
        --narr: 1;
    }
}

@media (max-width: 240px) {
    .steps {
        font-size: 0.75em;
    }
}

.steps article {
    --p: var(--parity, 0);
    --q: calc(1 - var(--p));
    --s: calc(1 - 2*var(--p));
    display: grid;
    grid-template: calc(var(--i)*3.375rem + var(--j)*4.5rem) calc(var(--i)*6.5rem + var(--j)*3rem) minmax(0, auto)/calc(var(--i)*calc(var(--q)*17.5rem + var(--p)*14.375rem) + var(--j)*100%) calc(var(--i)*calc(var(--q)*14.375rem + var(--p)*17.5rem));
    grid-gap: 0 calc(var(--i)*2rem);
    grid-auto-flow: column dense;
    width: calc(var(--i)*42.25rem + var(--j)*100%);
    border-radius: calc(var(--i)*9.125rem);
    box-shadow: calc(var(--i)*1em + var(--j)*0.375em) calc(var(--i)*1em + var(--j)*0.375em) calc(3*calc(var(--i)*1em + var(--j)*0.375em)) rgba(0, 0, 0, 0.5);
    background: linear-gradient(calc(var(--s)*90deg), #e6e6e6, #ececec) padding-box, linear-gradient(to right bottom, #fff, #c8c8c8) border-box;
    counter-increment: idx;
    margin: calc(var(--i)*3.375rem + var(--j)*1em) 3rem;
    border: solid calc(var(--i)*0.1875rem) transparent;
    padding: calc(var(--i)*0.75rem + var(--j)*2vw) calc(var(--i)*4rem + var(--j)*2vw);
}

article:nth-child(2n) {
    --parity: 1;
}

.steps h3 {
    grid-column: calc(1 + var(--i)*var(--q));
    grid-row: 1/span calc(1 + 2*var(--i));
    margin: calc(var(--i)*-2.25rem) 0;
    border: solid calc(var(--i)*0.1875rem) transparent;
    padding: calc(var(--i)*2.25rem) calc(var(--i)*2.25rem);
    border-radius: calc(var(--i)*calc(var(--q)*50%)) calc(var(--i)*calc(var(--p)*50%));
    box-shadow: inherit;
    background: linear-gradient(calc(var(--s)*45deg), #ee8c35, #ad4716) padding-box, linear-gradient(calc(var(--s)*-45deg), #ee8c35, #ad4716) border-box;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: calc(var(--i) + var(--j)*3);
    text-align: center;
}

.steps h3:before {
    font-size: calc(calc(var(--i)*4 + var(--j)*1)*1.1em);
    font-weight: 900;
    text-shadow: -2px -1px #999;
    content: counter(idx, decimal-leading-zero) " ";
}

.steps p {
    transform: translateY(50%);
    padding: 0.75rem 0;
    padding-left: calc(var(--k)*2.5em);
    text-indent: calc(var(--k)*2em);
}