:root {
    --color-1: #aa0000;
    --color-2: #2561c1;
    --color-3: #363636;
    --color-4: #da2020;
}


/* =========== Display 1 ================= */

#RE_trees {
    display: none;
}

#RE_title {
    float: left;
    width: 750px;
    margin: 9px 40px;
    padding-bottom: 0;
    position: sticky;
    left: 192px;
}

@media (min-width: 1220px) {
    #RE_trees {
        display: block;
        height: 2550px;
    }
}


/* It's supposed to look like a tree diagram */

.tree,
.tree ul,
.tree li {
    list-style: none;
    margin: .5rem auto;
    padding: 0;
    position: relative;
    text-align: center;
}

.tree ul {
    display: table;
    width: 70%;
}

.tree {
    width: 100%;
    position: relative;
    top: -225px;
    margin-bottom: 0;
    padding-bottom: 0;
}

@media (min-width: 1200px) {
    .tree {
        top: -229px;
    }
}

@media (min-width: 1516px) {
    .tree {
        top: -210px;
    }
}

#second-tree {
    top: -409px;
    position: relative;
}

.tree li {
    display: table-cell;
    padding: .5rem;
    vertical-align: top;
}


/* _________ */

.tree li:before {
    outline: solid 1px var(--color-3);
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: -.5rem;
}

.tree li:first-child:before {
    left: 50%;
}

.tree li:last-child:before {
    right: 50%;
}

.tree span {
    border: solid .1rem var(--color-3);
    border-radius: .2rem;
    display: inline-block;
    margin: 0 1rem 1rem;
    padding: .2rem .5rem;
    position: relative;
    max-width: 100%;
    width: 450px;
}


/* | */

.tree ul:before,
.tree span:before {
    outline: solid 1px var(--color-3);
    content: "";
    height: 1rem;
    left: 50%;
    position: absolute;
}

.tree ul:before {
    top: -1.5rem;
}

.tree span:before {
    top: -1rem;
}


/* The root node doesn't connect upwards */

.tree>li {
    margin-top: 0;
}

.tree>li:before,
.tree>li:after,
.tree>li>span:before {
    outline: none;
}

.tree li span:hover,
.tree li span:hover+ul li span {
    border: .1rem solid var(--color-2);
}


/* =========== Speech Bubble ================= */

.thought,
.thought2,
.thought3 {
    display: inline-block;
    padding: 20px;
    border-radius: 30px;
    min-width: 120px;
    max-width: 420px;
    min-height: 40px;
    margin: 20px;
    color: #fff;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    height: auto;
}

.thought {
    top: 68px;
    left: -5px;
    background-color: var(--color-1);
    width: 330px;
}

.thought2 {
    top: -648px;
    left: 601px;
    background-color: var(--color-2);
}

.thought3 {
    top: -329px;
    left: -437px;
    background-color: var(--color-4);
    width: 251px;
}

@media (min-width: 1200px) {
    .thought {
        top: 64px;
        left: -1px;
    }
    .thought2 {
        top: -657px;
    }
    .thought3 {
        top: -313px;
    }
}

@media (min-width: 1516px) {
    .thought {
        top: 70px;
        left: -18px;
    }
    .thought2 {
        top: -634px;
    }
    .thought3 {
        top: -305px;
    }
}

.thought:before,
.thought:after,
.thought2:before,
.thought2:after,
.thought3:before,
.thought3:after {
    content: "";
    border-radius: 50%;
    display: block;
    position: absolute;
    z-index: -1;
}

.thought:before,
.thought:after {
    background-color: var(--color-1);
}

.thought2:before,
.thought2:after {
    background-color: var(--color-2);
}

.thought3:before,
.thought3:after {
    background-color: var(--color-4);
}

.thought:before,
.thought2:before,
.thought3:before {
    width: 44px;
    height: 44px;
    top: -12px;
    left: 28px;
}

.thought:after,
.thought2:after,
.thought3:after {
    bottom: -10px;
    right: 26px;
    width: 30px;
    height: 30px;
}

.thought:before {
    box-shadow: -50px 30px 0 -12px var(--color-1);
}

.thought:after {
    box-shadow: 40px -34px 0 0 var(--color-1), -28px -6px 0 -2px var(--color-1), -24px 17px 0 -6px var(--color-1), -5px 25px 0 -10px var(--color-1);
}

.thought2:before {
    box-shadow: -50px 30px 0 -12px var(--color-2);
}

.thought2:after {
    box-shadow: 40px -34px 0 0 var(--color-2), -28px -6px 0 -2px var(--color-2), -24px 17px 0 -6px var(--color-2), -5px 25px 0 -10px var(--color-2);
}

.thought3:before {
    box-shadow: -50px 30px 0 -12px var(--color-4);
}

.thought3:after {
    box-shadow: 40px -34px 0 0 var(--color-4), -28px -6px 0 -2px var(--color-4), -24px 17px 0 -6px var(--color-4), -5px 25px 0 -10px var(--color-4);
}


/* =========== Display 2 ================= */

#RE_flowcharts {
    display: block;
}

@media (min-width: 1220px) {
    #RE_flowcharts {
        display: none;
    }
}

.flow-chart {
    display: flex;
    flex-wrap: wrap;
    font-family: Calibri;
    justify-content: center;
    padding: 15px;
    align-content: center;
    align-items: center;
}

.box-group:first-child h2,
.box-group:first-child div {
    width: 425px;
}

.box-group h2,
.box-group div {
    margin: 15px;
    width: 400px;
}

.box-group h2 {
    border: 2px solid #88b7d5;
    background-color: #deebf7;
    text-align: center;
    padding: 10px;
    font-size: 16px;
}

.box-group div {
    background-color: #e7e4e4;
    border: 2px solid #999;
    padding: 10px;
    height: fit-content;
    position: relative;
}

@media screen and (min-width:801px) {
    .pointer {
        margin-left: 30px;
    }
    .pointer div:after,
    .pointer div:before {
        right: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    .pointer div:after {
        border-color: rgba(136, 183, 213, 0);
        border-right-color: #e7e4e4;
        border-width: 20px;
        margin-top: -20px;
    }
    .pointer div:before {
        border-color: rgba(194, 225, 245, 0);
        border-right-color: #999;
        border-width: 23px;
        margin-top: -23px;
    }
}

@media screen and (max-width: 800px) {
    .flow-chart {
        flex-direction: column;
        align-items: center;
    }
    .box-group h2,
    .box-group div {
        width: 160px;
    }
    .box-group div {
        margin-bottom: 40px;
    }
    .pointer {
        margin-left: 0px;
    }
    .pointer h2 {
        position: relative;
    }
    .pointer h2:after,
    .pointer h2:before {
        bottom: 123%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    .pointer h2:after {
        bottom: 127%;
    }
    .pointer h2:after {
        border-color: rgba(222, 235, 247, 0);
        border-bottom-color: #e7e4e4;
        border-width: 20px;
        margin-left: -20px;
    }
    .pointer h2:before {
        border-color: rgba(136, 183, 213, 0);
        border-bottom-color: #999;
        border-width: 25px;
        margin-left: -25px;
    }
}