:root {
    --color-1: #aa0000;
    --color-2: #2561c1;
    --color-3: #363636;
    --color-4: #da2020;
}

#RE_trees {
    height: 2550px;
}

#RE_title {
    float: left;
    width: 70%;
    margin: 25px 40px;
    padding-bottom: 0;
}


/* It's supposed to look like a tree diagram */

.tree,
.tree ul,
.tree li {
    list-style: none;
    margin: .5rem auto;
    padding: 0;
    position: relative;
    text-align: center;
}

.tree ul {
    display: table;
    width: 70%;
}

.tree {
    width: 100%;
    position: relative;
    top: -335px;
    margin-bottom: 0;
    padding-bottom: 0;
}

#second-tree {
    top: -409px;
    position: relative;
}

.tree li {
    display: table-cell;
    padding: .5rem;
    vertical-align: top;
}


/* _________ */

.tree li:before {
    outline: solid 1px var(--color-3);
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: -.5rem;
}

.tree li:first-child:before {
    left: 50%;
}

.tree li:last-child:before {
    right: 50%;
}

.tree span {
    border: solid .1rem var(--color-3);
    border-radius: .2rem;
    display: inline-block;
    margin: 0 1rem 1rem;
    padding: .2rem .5rem;
    position: relative;
    max-width: 100%;
    width: 450px;
}


/* | */

.tree ul:before,
.tree span:before {
    outline: solid 1px var(--color-3);
    content: "";
    height: 1rem;
    left: 50%;
    position: absolute;
}

.tree ul:before {
    top: -1.5rem;
}

.tree span:before {
    top: -1rem;
}


/* The root node doesn't connect upwards */

.tree>li {
    margin-top: 0;
}

.tree>li:before,
.tree>li:after,
.tree>li>span:before {
    outline: none;
}

.tree li span:hover,
.tree li span:hover+ul li span {
    border: .1rem solid var(--color-2);
}


/* =========== Speech Bubble ================= */

.thought,
.thought2,
.thought3 {
    display: inline-block;
    padding: 20px;
    border-radius: 30px;
    min-width: 120px;
    max-width: 420px;
    min-height: 40px;
    margin: 20px;
    color: #fff;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    height: auto;
}

.thought {
    top: -50px;
    left: 844px;
    background-color: var(--color-1);
    width: 330px;
}

.thought2 {
    top: -762px;
    left: 601px;
    background-color: var(--color-2);
}

.thought3 {
    top: -439px;
    left: -437px;
    background-color: var(--color-4);
    width: 251px;
}

.thought:before,
.thought:after,
.thought2:before,
.thought2:after,
.thought3:before,
.thought3:after {
    content: "";
    border-radius: 50%;
    display: block;
    position: absolute;
    z-index: -1;
}

.thought:before,
.thought:after {
    background-color: var(--color-1);
}

.thought2:before,
.thought2:after {
    background-color: var(--color-2);
}

.thought3:before,
.thought3:after {
    background-color: var(--color-4);
}

.thought:before,
.thought2:before,
.thought3:before {
    width: 44px;
    height: 44px;
    top: -12px;
    left: 28px;
}

.thought:after,
.thought2:after,
.thought3:after {
    bottom: -10px;
    right: 26px;
    width: 30px;
    height: 30px;
}

.thought:before {
    box-shadow: -50px 30px 0 -12px var(--color-1);
}

.thought:after {
    box-shadow: 40px -34px 0 0 var(--color-1), -28px -6px 0 -2px var(--color-1), -24px 17px 0 -6px var(--color-1), -5px 25px 0 -10px var(--color-1);
}

.thought2:before {
    box-shadow: -50px 30px 0 -12px var(--color-2);
}

.thought2:after {
    box-shadow: 40px -34px 0 0 var(--color-2), -28px -6px 0 -2px var(--color-2), -24px 17px 0 -6px var(--color-2), -5px 25px 0 -10px var(--color-2);
}

.thought3:before {
    box-shadow: -50px 30px 0 -12px var(--color-4);
}

.thought3:after {
    box-shadow: 40px -34px 0 0 var(--color-4), -28px -6px 0 -2px var(--color-4), -24px 17px 0 -6px var(--color-4), -5px 25px 0 -10px var(--color-4);
}