@import url("https://cdn.jsdelivr.net/npm/bootstrap-grid-only@1.0.0/bootstrap.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
:root {
    scroll-behavior: smooth;
    --logo-red: #c82021;
    --logo-blue: #0d6efd;
    --white: #fff;
    --grey1: #a9a3a2;
    --black-1: #1a1a1a;
    --font-family: Oswald, Source Sans Pro;
    --hover-transition: all 500ms ease;
}

body {
    font-size: 18px;
    font-family: var(--font-family);
    line-height: 27px;
    font-weight: 400;
    background-color: var(--white);
}

p {
    margin-bottom: 18px;
    max-width: 576px;
}

img {
    max-width: 100%;
}

.logo-red,
red {
    color: var(--logo-red);
}

.logo-blue,
blue {
    color: var(--logo-red);
}

.white,
white {
    color: var(--white);
}

.black-1,
black1 {
    color: var(--black-1);
}

.bg-red {
    background-color: var(--logo-red);
}

.bg-blue {
    background-color: var(--logo-blue);
}

.bg-white {
    background-color: var(--white);
}

.bg-black-1 {
    background-color: var(--black-1);
}


/* ======= Navigation bar =============*/

.nav-item a:hover,
.nav-item a:focus {
    box-shadow: 0 3px 0 0 var(--logo-blue);
    color: var(--white);
    background-color: var(--black-1);
}

.navbar-toggler:focus {
    box-shadow: none;
}

.nav-item,
.nav-item a,
.dropdown-item {
    color: var(--white);
    max-width: max-content;
    transition: var(--hover-transition);
}

.dropdown-menu a {
    max-width: 100%;
}

.nav-item i {
    font-size: 14px;
    margin-left: 20px;
    color: var(--white);
}


/* =========== Section Titles ================= */

.section-title {
    text-align: center;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: var(--black-1);
}

.section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 125px;
    height: 1px;
    background: var(--grey1);
    bottom: 1px;
    left: calc(50% - 60px);
}

.section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: var(--logo-red);
    bottom: 0;
    left: calc(50% - 20px);
}


/* =========== Home Page ================= */

.home-header {
    background-image: url("https://cdn4.vectorstock.com/i/1000x1000/16/63/carrying-boxes-seamless-pattern-warehouse-shipping-vector-12361663.jpg");
    min-width: 100%;
}

.home-text {
    color: var(--black-1);
}


/* =========== Features ================= */

.icon-square {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    font-size: 27px;
    border-radius: 14px;
}


/* =========== Agents ================= */

.agent-header {
    background-image: url("https://image.shutterstock.com/image-vector/house-vector-icon-home-symbol-260nw-1636571392.jpg");
    min-width: 100%;
}

.agent-text {
    color: var(--black-1);
}

.agents {
    justify-content: center;
    margin: 10px;
    padding: 0px;
}

.snip1336 {
    position: relative;
    overflow: hidden;
    min-width: 230px;
    max-width: 350px;
    color: var(--black-1);
    text-align: left;
    line-height: 27px;
    background-color: var(--white);
    margin: 20px 20px;
    padding: 0px;
    border: 1px solid var(--black-1);
}

@media (max-width: 768px) {
    .agents {
        margin: 0px;
    }
    .snip1336 {
        margin: 20px 20px;
        max-width: 425px;
    }
}

.snip1336 img {
    width: 450px;
    height: 200px;
    vertical-align: top;
}

@media (min-width: 769px) and (max-width: 992px) {
    .snip1336 {
        max-width: 525px;
    }
    .snip1336 img {
        width: 550px;
    }
}

.snip1336 figcaption {
    width: 100%;
    background-color: var(--white);
    padding: 25px;
    position: relative;
}

.snip1336 figcaption:before {
    position: absolute;
    content: '';
    bottom: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 55px 0 0 350px;
    border-color: transparent transparent transparent var(--white);
}

.snip1336 .profile {
    border-radius: 50%;
    position: absolute;
    padding: 2px;
    border: 1.2px solid var(--black-1);
    background-color: var(--white);
    bottom: 100%;
    left: 25px;
    z-index: 1;
    max-width: 110px;
    max-height: 110px;
    opacity: 1;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

@media (max-width: 992px) {
    .snip1336 figcaption:before {
        border-width: 55px 0 0 450px;
    }
    .snip1336 .profile {
        max-width: 125px;
        max-height: 125px;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .snip1336 figcaption:before {
        border-width: 55px 0 0 550px;
    }
}

.snip1336 h2 {
    margin: 0 0 5px;
    font-weight: 300;
    font-size: 36px;
}

.snip1336 h2 span {
    display: block;
    font-size: 20px;
    color: var(--logo-red);
}

.snip1336 a {
    margin: 0 0 0px;
    font-size: 18px;
    color: var(--logo-blue);
    text-decoration: none;
    letter-spacing: .5px;
}

.snip1336 p {
    margin: 0 0 0px;
    font-size: 18px;
    color: var(--black-1);
    letter-spacing: .5px;
}

.snip1336 code {
    margin: 0 0 0px;
    font-size: 18px;
    color: var(--black-1);
    letter-spacing: .5px;
}

.snip1336 small {
    float: right;
    margin-bottom: 5px;
    margin-right: 5px;
    padding-right: 0px;
    font-size: 14px;
}

@media (max-width: 992px) {
    .snip1336 h2 span {
        font-size: 24px;
    }
    .snip1336 a {
        font-size: 22px;
    }
    .snip1336 p {
        font-size: 22px;
    }
    .snip1336 code {
        font-size: 22px;
    }
    .snip1336 small {
        font-size: 20px;
    }
}

.dropdown2 {
    float: left;
    margin-left: 70px;
    position: relative;
}

.dropdown2 .dropbtn {
    background-color: var(--logo-blue);
    color: var(--white);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown2 .dropbtn:hover {
    color: var(--white);
}

.dropdown2 .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: max-content;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 99;
}

.dropdown2 .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown2 .dropdown-content a:hover {
    background-color: #ddd;
}


/* =========== Contact ================= */

#contact-img {
    min-width: 200px;
    max-width: 450px;
    width: 50%;
}

#contact-decor {
    height: 55px;
    object-fit: cover;
    min-width: 250px;
    max-width: 500px;
    width: 50%;
}


/* =========== Footer ================= */

.site-footer {
    background-color: var(--black-1);
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 32px;
    color: var(--white);
}

.site-footer h6 {
    /*category names*/
    color: var(--logo-red);
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 15px;
    letter-spacing: 10px;
}

.footer-links {
    /* ul element itself */
    padding-left: 0;
    list-style: none;
}

.footer-links li {
    /* list elements */
    display: block;
}

.site-footer a {
    /*the hyperlinks*/
    color: var(--white);
    text-decoration: none;
    margin-right: 10px;
}

.site-footer a:hover {
    color: var(--logo-blue);
}

.site-footer .copyright-text {
    /* small text to left of icons */
    margin: 0;
}

.site-footer .copyright-text a {
    text-decoration: underline;
}

@media only screen and (max-width: 991px) {
    .site-footer [class^="col-"] {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 767px) {
    .site-footer {
        padding-bottom: 0;
    }
    .site-footer .copyright-text {
        text-align: center;
    }
}


/* =========== 404 Page ================= */

#error {
    height: 100%;
    margin: 0;
    padding: 32px;
    background-color: #446072;
    font-family: monospace;
    color: white;
    overflow: hidden;
}

#error404 {
    margin-top: 32px;
    text-align: center;
}

.shelf {
    position: relative;
    width: 540px;
    height: 350px;
    margin: 0 auto;
    border: 9px solid #374d5b;
    border-radius: 9px;
    background-color: rgba(255, 255, 255, 0.1);
    perspective: 130rem;
    box-shadow: inset 0 0 36px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
    align-content: center;
}

.shelf a {
    text-decoration: none;
}

.shelf a:hover {
    color: var(--logo-red);
}

.door {
    position: absolute;
    width: 267px;
    height: 350px;
    display: flex;
    box-sizing: border-box;
    padding: 18px;
    background-color: #374d5b;
    align-items: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    outline: 1px solid transparent;
}

.door::before {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
    content: "";
}

.door.left {
    border-radius: 0 0.75rem 0.75rem 0;
    justify-content: flex-end;
    -webkit-animation: leftDoorOpen 3.5s ease-out forwards 1s, leftDoorFlap 15s linear infinite forwards 9s;
    animation: leftDoorOpen 3.5s ease-out forwards 1s, leftDoorFlap 15s linear infinite forwards 9s;
    transform-origin: 0 0 0;
}

.door.right {
    right: 0;
    border-radius: 0.75rem 0 0 0.75rem;
    -webkit-animation: rightDoorOpen 3s ease-out forwards 1.5s, rightDoorFlap 10s linear infinite forwards 8s;
    animation: rightDoorOpen 3s ease-out forwards 1.5s, rightDoorFlap 10s linear infinite forwards 8s;
    transform-origin: 100% 0 0;
}

.book {
    position: absolute;
    box-sizing: border-box;
    padding: 0.8rem 4rem 0.8rem 36px;
    border-radius: 0.25rem;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    cursor: pointer;
    box-shadow: inset 0 0 0.75rem rgba(255, 255, 255, 0.1);
}

.book.home-page {
    transform: rotate(-90deg) translate(-18.8rem, 3rem);
    transform-origin: 0;
}

.book.about-us {
    transform: rotate(-100deg) translate(-20rem, 5.1rem);
    transform-origin: 0;
    outline: 1px solid transparent;
}

.book.contact {
    right: 36px;
    bottom: 4px;
    border-radius: 0.3rem 0 0 0.3rem;
}

.book.faq {
    right: 0.4rem;
    bottom: 3.6rem;
    border-radius: 0.3rem 0 0 0.3rem;
}

.book.not-found {
    width: 12rem;
    height: 3.5rem;
    border: 1px dashed rgba(255, 255, 255, 0.3);
    background-color: transparent;
    transform: rotate(-90deg) translate(-18.8rem, 13rem) scale(1);
    transform-origin: 0;
    cursor: default;
    -webkit-animation: bookFadeOut 1s 3s infinite forwards;
    animation: bookFadeOut 1s 3s infinite forwards;
}

.book.not-found::after {
    display: block;
    width: 200px;
    padding-left: 5rem;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='80' height='30'><path fill='rgb(255, 255, 255)' d='M7.688,3.737C6.1,10.409,4.624,16.982,2.475,23.517c-0.424,1.29,0.724,2.338,1.957,1.916 c5.879-2.021,11.743-4.107,17.409-6.696c1.246-0.572,0.443-2.366-0.815-1.932c-3.856,1.333-7.695,2.69-11.565,3.959 c2.879-2.526,5.485-5.215,9.013-7.17c4.441-2.459,9.299-4.109,14.281-4.915c10.903-1.772,22.052,0.562,31.979,5.04 c9.241,4.162,12.895,8.725,13.164,4.942c0.121-1.69-5.57-4.953-14.125-8.714C53.19,5.292,41.094,3.539,29.636,6.058 c-7.122,1.567-16.708,5.374-22.064,11.544c1.359-4.455,2.461-9.028,3.032-13.563C10.852,2.091,8.12,1.927,7.688,3.737z'/></svg>");
    background-repeat: no-repeat;
    background-size: 4rem;
    background-position: left center;
    font-family: "Dancing Script";
    text-transform: lowercase;
    font-size: 25px;
    content: "this page can't be found";
    transform: rotate(90deg) translate(6.5rem, -5rem);
    opacity: 0.3;
}

.book:hover:not(.not-found) {
    background-color: rgba(255, 255, 255, 0.2);
}

@-webkit-keyframes leftDoorOpen {
    60% {
        transform: rotateY(-115deg)
    }
    100% {
        transform: rotateY(-110deg)
    }
}

@keyframes leftDoorOpen {
    60% {
        transform: rotateY(-115deg)
    }
    100% {
        transform: rotateY(-110deg)
    }
}

@-webkit-keyframes rightDoorOpen {
    60% {
        transform: rotateY(125deg)
    }
    100% {
        transform: rotateY(120deg)
    }
}

@keyframes rightDoorOpen {
    60% {
        transform: rotateY(125deg)
    }
    100% {
        transform: rotateY(120deg)
    }
}

@-webkit-keyframes rightDoorFlap {
    0% {
        transform: rotateY(120deg)
    }
    5% {
        transform: rotateY(125deg)
    }
    15% {
        transform: rotateY(117deg)
    }
    25% {
        transform: rotateY(123deg)
    }
    30% {
        transform: rotateY(120deg)
    }
    100% {
        transform: rotateY(120deg)
    }
}

@keyframes rightDoorFlap {
    0% {
        transform: rotateY(120deg)
    }
    5% {
        transform: rotateY(125deg)
    }
    15% {
        transform: rotateY(117deg)
    }
    25% {
        transform: rotateY(123deg)
    }
    30% {
        transform: rotateY(120deg)
    }
    100% {
        transform: rotateY(120deg)
    }
}

@-webkit-keyframes leftDoorFlap {
    0% {
        transform: rotateY(-110deg)
    }
    5% {
        transform: rotateY(-115deg)
    }
    15% {
        transform: rotateY(-107deg)
    }
    25% {
        transform: rotateY(-113deg)
    }
    30% {
        transform: rotateY(-110deg)
    }
    100% {
        transform: rotateY(-110deg)
    }
}

@keyframes leftDoorFlap {
    0% {
        transform: rotateY(-110deg)
    }
    5% {
        transform: rotateY(-115deg)
    }
    15% {
        transform: rotateY(-107deg)
    }
    25% {
        transform: rotateY(-113deg)
    }
    30% {
        transform: rotateY(-110deg)
    }
    100% {
        transform: rotateY(-110deg)
    }
}

@-webkit-keyframes bookFadeOut {
    50% {
        border: 1px dashed rgba(255, 255, 255, 0.1);
    }
}

@keyframes bookFadeOut {
    50% {
        border: 1px dashed rgba(255, 255, 255, 0.1);
    }
}