@import url("https://cdn.jsdelivr.net/npm/bootstrap-grid-only@1.0.0/bootstrap.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
:root {
    scroll-behavior: smooth;
    --logo-red: #C82D35;
    --logo-blue: #1c71a4;
    --white: #fff;
    --black-1: #1B1C1E;
    --font-family: Oswald, Source Sans Pro;
    --hover-transition: all 500ms ease;
}

body {
    font-size: 18px;
    font-family: var(--font-family);
    line-height: 1.5;
    font-weight: 400;
    background-color: var(--white);
}

p {
    margin-bottom: 1rem;
    max-width: 32rem;
}

img {
    max-width: 100%;
}

.logo-red,
red {
    color: var(--logo-red);
}

.logo-blue,
blue {
    color: var(--logo-red);
}

.white,
white {
    color: var(--white);
}

.black-1,
black1 {
    color: var(--black-1);
}

.bg-red {
    background-color: var(--logo-red);
}

.bg-blue {
    background-color: var(--logo-blue);
}

.bg-white {
    background-color: var(--white);
}

.bg-black-1 {
    background-color: var(--black-1);
}


/* ======= Navigation bar =============*/

.nav-item a:hover,
.nav-item a:focus {
    box-shadow: 0 3px 0 0 var(--logo-blue);
    color: var(--white);
    background-color: var(--black-1);
}

.navbar-toggler:focus {
    box-shadow: none;
}

.nav-item,
.nav-item a,
.dropdown-item {
    color: var(--white);
    max-width: max-content;
    transition: var(--hover-transition);
}

.nav-item i {
    font-size: 14px;
    margin-left: 20px;
    color: var(--white);
}


/* =========== Footer ================= */

.site-footer {
    background-color: var(--black-1);
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 32px;
    color: var(--white);
}

.site-footer h6 {
    /*category names*/
    color: var(--logo-red);
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 15px;
    letter-spacing: 10px;
}

.footer-links {
    /* ul element itself */
    padding-left: 0;
    list-style: none;
}

.footer-links li {
    /* list elements */
    display: block;
}

.site-footer a {
    /*the hyperlinks*/
    color: var(--white);
    text-decoration: none;
    margin-right: 10px;
}

.site-footer a:hover {
    color: var(--logo-blue);
}

.site-footer .copyright-text {
    /* small text to left of icons */
    margin: 0;
}

@media only screen and (max-width: 991px) {
    .site-footer [class^="col-"] {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 767px) {
    .site-footer {
        padding-bottom: 0;
    }
    .site-footer .copyright-text {
        text-align: center;
    }
}


/* =========== Features ================= */

.icon-square {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    border-radius: .75rem;
}


/* =========== Carousel ================= */

.carousel {
    max-width: calc(100% - 125px);
    margin: 50px auto;
}

.card {
    padding: 10px;
}

.card-img-top,
.card-img-bottom {
    height: 200px;
    object-fit: cover;
}

@media (max-width: 420px) {
    .carousel {
        max-width: calc(100% - 50px);
        margin: 30px auto;
    }
}

@media (min-width: 1024px) {
    .card-img-top,
    .card-img-bottom {
        height: 275px;
    }
}


/* =========== Sign In Page ================= */

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}