/* =========== Resources Page ================= */

#hero {
    width: 100%;
    height: 70vh;
    overflow: hidden;
    position: relative;
    padding: 0;
}

#hero .carousel-item.active,
#hero .carousel-item.active::before {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

#hero .carousel-item.active {
    background-image: url("../images/fancyhouse.jpg");
    background-color: #fff;
}

#hero .carousel-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    bottom: 60px;
    top: 110px;
    left: 50px;
    right: 50px;
}

#hero .carousel-content {
    background: rgba(28, 23, 21, 0.7);
    padding: 20px;
    color: #fff;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    border-top: 5px solid var(--fg-red);
}

#hero .carousel-content h2 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 700;
}

@media (min-width: 1024px) {
    #hero .carousel-content {
        width: 60%;
    }
}

@media (max-width: 992px) {
    #hero {
        height: calc(100vh - 70px);
    }
    #hero .carousel-content h2 {
        margin-bottom: 15px;
        font-size: 22px;
    }
    #hero .carousel-content p {
        font-size: 15px;
    }
}

@media (max-height: 500px) {
    #hero {
        height: 120vh;
    }
}


/* =========== Circle sec ================= */

#circle-nav {
    width: 100%;
    height: 480px;
}

#learn-more {
    fill-opacity: 0;
    fill: #fff;
    stroke: #fff;
    stroke-width: 2;
    border-radius: 5px;
    stroke-linejoin: round;
    transition: all 250ms ease-in;
    cursor: pointer;
}

#learn-more:hover {
    fill-opacity: 1;
}

#learn-more:hover~.learn-more-text {
    fill: #005fa4;
}

.learn-more-text {
    font-family: "Roboto";
    fill: #fff;
    pointer-events: none;
    font-size: 14px;
    transition: all 250ms ease-in;
}

.center {
    fill: #005fa4;
}

.pointer {
    fill: #fff;
    stroke: #3b8fc0;
    stroke-width: 2;
}

.nav-copy {
    font-family: "Roboto";
    fill: #fff;
    fill-opacity: 1;
    transition: all 250ms ease-in;
}

.nav-copy.changing {
    fill-opacity: 0;
}

.service {
    cursor: pointer;
}

.service text {
    font-size: 14px;
    font-family: "Roboto";
    text-anchor: middle;
}

.service .icon-wrapper {
    transform-origin: 50% 50%;
}

.service .icon-wrapper,
.service .icon-wrapper>* {
    transition: all 250ms ease-in;
}

.service circle {
    fill: #005fa4;
}

.service circle.shadow {
    fill-opacity: 0;
    filter: url(#service-shadow);
}

.service use {
    fill: #fff;
}

.service text {
    fill: #4d4d4d;
}

.service.active .icon-wrapper,
.service:hover .icon-wrapper {
    transform: scale(1.15) translateY(-5px);
}

.service.active .icon-wrapper,
.service.active .icon-wrapper>*,
.service:hover .icon-wrapper,
.service:hover .icon-wrapper>* {
    transition: all 250ms ease-out;
}

.service.active .icon-wrapper circle.shadow,
.service:hover .icon-wrapper circle.shadow {
    fill-opacity: 0.4;
}

.service.active text,
.service:hover text {
    fill: #005fa4;
    font-weight: bold;
}